.teaser_desc {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    color: #000;
    visibility: hidden;
    opacity: 0;

    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;

    margin: auto;
    font-family: monospace;
    text-align: center;
    line-height: 130px;
    font-size: 15pt;

}

.teaser:hover .teaser_desc {
    visibility: visible;
    opacity: 0.8;
}

.teaser_img {
    height: 300px;
}
.teaser_img_card {
    border: 0;
}
.noborder {
    border: 0;
}

.title {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 10px;
}

.abstract {
    text-align: justify;
    padding-left: 60px;
    padding-right: 60px;
}

.text-break {
    text-align: justify;
    font-size: 13pt;
    margin: 10px;
}

.ack, .gall-text {
    text-align: justify;
}

.prompt {
    font-family: monospace;
}

#gall-img {
    text-align: center;
}
/* 
pre {
    background-color: rgb(240, 240, 240);
} */

.re_img {
    width: 400px
}